.centrePage{
    text-align: center;
}
.whiteBg{
    background-color: red;
    display: inline-block;
    padding: 20px;
}
.box{
    border-style: double ;
    display: inline-block;
    padding: 10px;
    background-color: antiquewhite;

}


body{
    background-image: url("img/group.webp");
    background-repeat: repeat;
    background-size: 150px;
    font-family: "Times New Roman", Times, serif;
    cursor:url('img/rocket.png'), auto;
}
.shadow{
    text-shadow: 15px 5px rgb(0, 76, 255);
}
.mainMarquee{
    background-color: aqua;
    font-family: "Comic Sans MS", sans-serif;
}